  <!-- Header -->
  <%- include('partials/header')%>

  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

       <!-- Left Menu -->
        <%- include('partials/leftMenu')%>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <% for (const duck of ducks) { %>  
          <article class="col-lg-4 col-md-6 mb-4" itemscope itemtype="https://schema.org/Product">
            <div class="card h-100">
              <a href="/article/<%=duck.id%>">
                <img class ="card-img-top" itemprop="image" src="/images/<%=duck.name.toLowerCase()%>.png" alt="<%=duck.name%>">
                <div class="badge-category badge badge-pill badge-<%=duck.category.toLowerCase()%>"><%=duck.category%></div>
              </a>
              <div class="card-body">
                <header class="card-title">
                  <a href="/article/<%=duck.id%>"><%=duck.name%></a>
                </header>
                <h4 class="h5" itemscope itemtype="https://schema.org/Offer" itemprop="price"><%=duck.price%> €</h4>
                <p class="card-text" itemprop="description"><%=duck.description%></p>
              </div>
              <footer class="card-footer">
                <small itemprop="RatingValue" itemscope itemtype="htts://schema.org/Rating" class="text-muted">
                  <% for(let i = 1; i <= 5 ; i++) { %>
                    <% if(duck.avg_note >= i) { %>
                      &#9733;
                    <% }  else { %>
                      &#9734;
                  <% } %>
                <% } %></small>
                <a href="/cart/add/<%=duck.id%>" class="link-add-cart">+ Ajouter au panier</a>
              </footer>
            </div>
          </article>
        <% } %>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <%- include('partials/footer')%>
