  <!-- Header -->
  <%- include('partials/header')%>

  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

       <!-- Left Menu -->
        <%- include('partials/leftMenu')%>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <% for (const duck of ducks) { %>

                  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article/<%=duck.id%>">
                <img class="card-img-top" src="/images/<%=duck.name.toLowerCase()%>.png" alt="<%=duck.name%>">
                <div class="badge-category badge badge-pill badge-<%=duck.category.toLowerCase()%>"><%=duck.category%></div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article/<%=duck.id%>"><%=duck.name%></a>
                </h4>
                <h5><%=duck.price%> €</h5>
                <p class="card-text"><%=duck.description%></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/cart" class="link-add-cart">+ Ajouter au panier</a>
              </div>
            </div>
          </div>
        <% }  %> 
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <%- include('partials/footer')%>
