<%- include('partials/header') %>
  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

      <%- include('partials/leftMenu') %>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <div class="col-lg-6">
            <img class="" src="/images/<%=duck.name.toLowerCase()%>.png" alt="<%=duck.name%>">
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                  <h3 class="card-title">
                    <%=duck.name%>
                    <div class="badge badge-pill badge-<%=duck.category.toLowerCase()%>"><%=duck.category%></div>
                  </h3>
                  <p class="card-text">Taille réelle : <%=duck.size%>cm</p>
                  <p class="card-text"><%=duck.description%></p>
                  <p class="card-text">
                    Note moyenne : 
                    <% for(let i = 1; i <= 5 ; i++) { %>
                      <% if(duck.avg_note >= i) { %>
                        &#9733;
                      <% }  else { %>
                        &#9734;
                    <% } %>
                  <% } %>
                    <br>
                    <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
                  </p>
                  <h5><%=duck.price%> €</h5>
                  <p class="card-text">
                    <a href="/cart/add/<%=duck.id%>" class="link-add-cart">+ Ajouter au panier</a>
                  </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <!-- Modale des avis -->
  <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="reviewsModalLabel">Avis des internautes</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% for(const review of reviews) { %>
          <section>
            <h5><%=review.title%> &nbsp; <small class="text-muted">
              <% for(let i = 1; i <= 5 ; i++) { %>
                <% if(review.note >= i) { %>
                  &#9733;
                <% }  else { %>
                  &#9734;
              <% } %>
            <% } %>
            </small></h5>
            <p class="review-author">par <%=review.author%></p>
            <p><%=review.message%></p>
          </section>

          <hr>
          <% } %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>


  <%- include('partials/footer') %>