  <!-- Header -->
  <%- include('partials/header')%>

  <!-- Page Content -->
  <div class="container container-main">

      <div class="row">
        <div class="col">
          <h3 class="text-center">Votre Panier</h3>

          <table class="table">
            <thead>
              <th>Article</th>
              <th>Quantité</th>
              <th>Prix HT</th>
            </thead>
            <tbody> 
              <% if (locals.cart && locals.cart.length>0) { %>
                  <% for (const duck of locals.cart) { %>
                    <tr>
                      <td>
                        <img class="img-thumbnail img-cart-list" src="/images/<%=duck.name.toLowerCase()%>.png" alt="<%=duck.name%>">
                        <div class="item-description"></div>
                          <h5 class="item-title"><%=duck.name%></h5>
                        </div>
                      </td>
                      <td>
                        <strong><%=duck.quantity%></strong>
                        <a href="/cart/add/<%=duck.id%>">+</a> / <a href="/cart/remove/<%=duck.id%>">-</a>
                      </td>
                      <td>
                        <p class="item-subtotal"><%=(duck.price*duck.quantity).toFixed(2)%> €</p>
                      </td>
                    </tr>
                  <% } %>
              <!-- Frais de port -->
              <tr>
                <td class="text-right" colspan="2">
                  Frais de port
                </td>
                <td class="item-subtotal">
                  9.99 €
                </td>
              </tr>
              <tfoot>
                <tr>
                  <td class="text-right" colspan="2">
                    Total HT
                  </td>
                  <td class="item-subtotal">
                    <%=totalHt%> €
                  </td>
                </tr>

                <tr>
                  <td class="text-right" colspan="2">
                    TVA 20%
                  </td>
                  <td class="item-subtotal">
                    <%=tva%> €
                  </td>
                </tr>

                <tr class="row-total">
                  <td class="text-right" colspan="2">
                    Total TTC
                  </td>
                  <td class="item-total">
                    <%=totalTtc%> €
                  </td>
                </tr>

              </tfoot>
            <% } %>
            </tbody>

          </table>

          <div class="row">
            <div class="col text-right">
                <div class="btn btn-success">
                  Passer Commande
                </div>
            </div>
          </div>

        </div>
      </div>
  </div>


  <!-- Footer -->
  <%- include('partials/footer')%>
  
